aioredis==1.2.0
asgi-redis==1.4.3
asgiref==2.3.2
async-timeout==3.0.1
attrs==19.1.0
autobahn==19.3.3
Automat==0.7.0
channels==2.1.7
channels-redis==2.3.3
cloudpickle==0.6.1
constantly==15.1.0
cycler==0.10.0
daphne==2.2.5
dask==0.19.4
decorator==4.3.0
dicom==0.9.9.post1
Django==2.1.7
hiredis==1.0.0
http-client==0.1.22
hyperlink==18.0.0
idna==2.8
imageio==2.4.1
incremental==17.5.0
itk==4.13.1.post1
itk-core==4.13.1.post1
itk-filtering==4.13.1.post1
itk-io==4.13.1.post1
itk-numerics==4.13.1.post1
itk-registration==4.13.1.post1
itk-segmentation==4.13.1.post1
kiwisolver==1.0.1
LogGabor==20171205
matplotlib==3.0.0
msgpack==0.6.1
msgpack-python==0.5.6
networkx==2.2
NeuroTools==0.3.1
numpy==1.15.2
opencv-python==3.4.3.18
pandas==0.23.4
Pillow==5.3.0
pycurl==7.43.0.2
pydicom==1.2.0
PyHamcrest==1.9.0
PyMCubes==0.0.8
pynrrd==0.3.5
pyparsing==2.2.2
python-dateutil==2.7.3
pytz==2018.5
PyWavelets==1.0.1
redis==2.10.6
scikit-image==0.14.1
scipy==1.1.0
six==1.11.0
SLIP==20171205
toolz==0.9.0
Twisted==18.9.0
txaio==18.8.1
validators==0.12.4
zope.interface==4.6.0
