{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<html>
<head>
<style>
body {margin:0;}

</style>
</head>

<body>
<ul>
  <h1> Welcome {{user.Nickname}} </h1>
  <li> <a class="active" href="/welcome"> music party </a> </li>
  <li> <a href="{% url 'profile' user.ID %}"> account </a> </li>
  <li> <a href="/rooms"> your rooms </a> </li>
</ul>


<a class="join" href="{% url 'join' user.ID %}"> join </a>
<a class="create" href="{% url 'create' user.ID %}"> create </a>

</body>
