{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- <section>
<input type="text" placeholder="Search.." name="search2">
<button type="submit"><i class="fa fa-search"></i></button>
<input type="submit" class="fadeIn fourth" value="Log In">
</section> -->
{% block body %}
<form action="/join" method="post">
  {% csrf_token %}
  <!--<input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
  <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">-->
  {{ form }}
  <input type="submit" class="fadeIn second" value="submit">

</form>
<ul>
  {% for room in res %}
      <li> {{room.idRoomNumber}} </li>
      <li> {{room.RoomName}} </li>
      <li> {{room.Host}} </li>
  {% endfor %}
</ul>
{% endblock %}
