{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h3>Log in</h3>
    <!-- Login Form -->
    <form action="/login" method="post">
      {% csrf_token %}
      <!--<input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">-->
      {{ form }}
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <h3 style="color:red; font-weight: bold; font-size: 30px;" class="{{ message.tags }}">{{ message }}</h3>
      {% endfor %}
    </ul>
  {% endif %}

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>