<!-- 
<h3>Sign up</h3>
<form action="/your-name/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="log in">
</form>
 -->

 {% load staticfiles %}
 <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
 <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <!------ Include the above in your HEAD tag ---------->
 
 <div class="wrapper fadeInDown">
   <div id="formContent">
     <!-- Tabs Titles -->
     <h3>Sign up</h3>
     <!-- Register Form -->
     <form action="/signup" method="post">
      {% csrf_token %}
      <!-- <input type="text" id="signup" class="fadeIn second" name="username" placeholder="username">
       <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
       <input type="text" id="email" class="fadeIn fourth" name="email" placeholder="email">-->
       {{ form }}
       <input id ="sign_up" type="submit" class="fadeIn fifth" value="Sign Up" href="/welcome">
     </form>

     {% if messages %}
     <ul class="messages">
       {% for message in messages %}
         <h3 style="color:red; font-weight: bold; font-size: 30px;" class="{{ message.tags }}">{{ message }}</h3>
       {% endfor %}
     </ul>
   {% endif %}
 
     <!-- Remind Passowrd
     <div id="formFooter">
       <a class="underlineHover" href="#">Forgot Password?</a>
     </div> -->
 
   </div>
 </div>

 <!-- <script>

  document.getElementById('sign_up').onclick = function() {
     // var roomName = document.querySelector('#room-name-input').value;
      window.location.href = 'www.google.com';
      console.log("try to")
  };
</script> -->
